repos:
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        args: [--ignore-missing-imports, --check-untyped-defs]
        additional_dependencies: [types-paho-mqtt]
        files: ^huawei-solar-modbus-mqtt/modbus_energy_meter/
